{% extends "muzika/base.html" %}
{% block content %}
<h2 style="text-align: center;">Hudební žánry</h2>
<div class="grid-container">
    {% for zanr in zanry %}
        <div class="card">
            <h3 style="background-color: #f0f0f0; padding: 8px; border-radius: 5px; margin-bottom: 10px;"><a href="{% url 'detail_zanru' zanr.id %}" style="text-decoration: none; color: #333;">{{ zanr.nazev }}</a></h3>
            {% if zanr.popis %}
                <p>{{ zanr.popis|truncatewords:20 }}</p>
            {% endif %}
            {% if zanr.popularita is not None %}
                <p>Popularita: {{ zanr.popularita }}</p>
            {% endif %}
        </div>
    {% empty %}
        <p>Žádné žánry zatím nejsou dostupné.</p>
    {% endfor %}
</div>
{% endblock %}
